<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Arcanum</h1>
    <p>Please select an option:</p>
        <a href="/organiser/home">
            <button type="button" class="Organiser">Organiser Page</button>
        </a>
        <a href="/attendee/home">
            <button type="button" class="Attendee">Attendee Page</button>
        </a>
</body>
</html>
